<!-- <div class="card titleCard">
  <div class="row">
    <div class="col-md-12">
      <label>Filtros</label>
    </div>
  </div>
</div>
<div class="card searchCard">
  <div class="row">
    <label>Nombre del hotel</label>
    <input type="text" class="form-control" id="hotelName" placeholder="Ingrese el nombre del hotel">
    <button (click)="searchHotel()" type="button" class="btn btn-outline-primary btn-block">
      Aceptar
    </button>
  </div>
</div>
<div class="card searchCard">
  <div class="row">
    <label>Estrellas</label>
  </div>
</div> -->
