/* You can add global styles to this file, and also import other style files */
.logo{
  width: 100%;
}
.headerAlmundo{
  background-color: #00386f!important;
}

/*card*/
.card-horizontal {     display: flex; flex-direction: column;}
.card-horizontal .card-img {    flex: 0 0 $card-img-width;}
.card-horizontal .card-block {    flex: 0 0 calc(100% - $card-img-width)}

.imageHotel{
  width: 33.3333333%;
  max-height: 200px;
}

.priceHotel{
  border-left: 1px dashed #ccc;
}

@media only screen and (min-width: 500px) {
    hotel .hotel .hotel-ctn .priceHotel {
        padding:16px
    }

    hotel .hotel .hotel-ctn .ppriceHotel:before {
        position: absolute;
        left: 0;
        top: 16px;
        content: "";
        display: block;
        width: 1px;
        border-left: 1px dashed #ccc;
        height: calc(100% - 32px);
    }
}

.amenities{
  width: 6% !important;
  display: inline-block;
  margin-right: 10px;
}

.hotelImage{
  max-width: 300px;
  max-height: 200px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 64%;
}

.hotelCard{
  width: 100%;
  margin: 10px;
}

.hotelRow{
  padding: 10px;
}

.searchCard{
  margin-top: 2px;
  padding: 10px;
}

.searchCard div{
  width: 100%;
    margin-left: 0px;
}

.searchCard div input{
  width: 65%;
}

.searchCard div button{
  width: 35%;
}

.titleCard{
  margin-top: 10px;
  padding: 10px;
  height: 45px;
}

.ec-stars-wrapper {
	font-size: 0;
	display: inline-block;
}

.starParent{
  display: inline-block;
}

.star {
  text-decoration: none;
  display: inline-block;
  font-size: 32px;
  font-size: 1.8rem;
  color: #fbff00;
  margin: -18px 1px 8px -3px;
}

.almundoButtom{
  color: #ffffff !important;
  background-color: #020692 !important;
  background-image: none !important;
  border-color: #ffffff00 !important;
  width: 70%;
  margin-left: 15%;
}

.moneda{
  line-height: 28px;
  line-height: 1.75rem;
  font-size: 18px;
  font-size: 1.125rem;
  font-weight: 400;
  display: inline-block;
}

.precio{
  line-height: 28px;
  line-height: 1.75rem;
  font-size: 24px;
  font-size: 1.5rem;
  font-weight: 700;
  display: inline-block;
}

.contenedorPrecio{
  color: #cb531c;
  vertical-align: bottom;
  text-align: center;
}

.borderPrice{border-left-style: dashed;
    border-left-width: 0.5px;
    border-color: #808080b8;
  }

.starfilter{
  display: inline-block;
  width: 10% !important;
}

.checkFilter{
  display: inline-block;
  width: 15% !important;
}

.textPrice{
  text-align: center;
  font-size: 13px;
  margin: 12px 0px 7px 0px;
}

.searchButton{
  color: #ffffff !important;
  background-color: #020692 !important;
  background-image: none !important;
  border-color: #ffffff00 !important;
}
